README filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
toys filter=lfs diff=lfs merge=lfs -text
www filter=lfs diff=lfs merge=lfs -text
Config.in filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
regenerate.sh filter=lfs diff=lfs merge=lfs -text
run-tests-on-android.sh filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
kconfig filter=lfs diff=lfs merge=lfs -text
lib filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
configure filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
main.c filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_BSD filter=lfs diff=lfs merge=lfs -text
toys.h filter=lfs diff=lfs merge=lfs -text
android filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
